Definition nil := Nil : List.
Definition cons := (fun (n : Nat) (l : List) => Cons n l)
        : Nat -> List -> List.
Definition ( @ ) := (fun (m n : List) => Append m n)
        : List -> List -> List.
Definition len := (fun (m : List) => Length m)
        : List -> Nat. 